.clearfix::after {
	content: "";
	clear: both;
	display: table;
  }
  a{
	text-decoration:none;
}
/* header */
/* top-bar */
.top-bar{
	padding: 10px 30px;
	background-color:#A50F35 ;
}
.top-bar p{
	margin: 0;
	color: #fff;
	padding: 5px;
	font-size: 12px;
}
.top-bar p i{
	padding: 5px;
}
.flex-item{
	display: flex;
	justify-items: center;
}
.contact-1{
	display: flex;
	justify-items: center;
	flex: 1;
}
.icon-contact .icon-1 p a{
	color: #fff;
	padding: 5px;
	transition: 0.5s;
	
}
.icon-contact .icon-1 p a:hover{
	background-color:#F9AB42 ;
}
.contact-2{
	display: flex;
	justify-items: center;
}
.icon-contact{
	display: flex;
	padding: 0px 60px;
}
.langual img{
	border-radius: 100%;
	width: 30px;
	height: 30px;
	padding: 2px;
}
.langual{
	justify-items: center;
	display: flex;
	
}
/* menu-header */
.login-2{
	display: none;
}
.login{
	display: flex;
}
.login-1{
	flex: 3;
	justify-items: center;
}
.search{
	display: none;
}
#logo{
	width: 60%;
	margin-left: 10%;
}

nav{
	background-color:white!important;
}
.menu > div > li{
	position:relative;
	float:left;
	width:90px;

}
.menu > div > li > a:hover,
.menu > div > li > a:active{
	border-bottom:2px solid #F9AB42;
	color: #F9AB42;
}
.menu > div > li > a{

	font-size: 90%;
	text-align: center;
	color:#C52125;
	font-weight: bold;
	text-decoration: none;
	transition: border-bottom 2s;
}


.menu > div > li > ul{
	position: absolute;
	display: none;
	Z-index:1;
	left:-30px;
	border:1px solid #D80000;
	background-color: #A50F35;
	padding: 0;
	margin: 0;
	
	
	
}
.menu > div > li > ul > li{
	width: 130px;
	list-style: none;
	color: white;
	padding: 10px ;
	border-bottom: 1px solid #A8A8A8;
	margin: 0;
	

}

.menu >div > li > ul > li > a{
	font-size: 12px;
	color: white;
	text-decoration: none;
}
.menu >div > li > ul > li > a:hover{
	color:#FAAA3C;
}
.menu-1{
	margin-top:3%;
}
.navbar-brand{
	display: none;
}
.navbar-brand a{
	text-decoration: none;
	font-weight: 700;
	color: #FFFF;
}
/*content*/

/*banner*/
.banner{
	height: 350px;
	background-image: url('../img/banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 40% 5%;

}

/* hightlight*/
.text-justifi img{
	width: 100%;
	cursor:pointer;
}
/*news*/
.img3 img{
	transition:all 0.4s;
}
.slide-top img{
	transition:all 0.4s;
}


.img1{
margin-top: -5%;
margin-left: 5%;
background-color: white;
}
.text-justifi{
	padding: 2%;
}

/*hightlight*/
.carousel-caption h1,.carousel-caption h3{
	color:black;
	text-shadow: 8px -8px 2px #A8A8A8;
	font-weight: bold;

}

/*news*/
.news{
	margin-top: 30px;
	
}
.date{
	background-color: #F0F0F0;
	padding: 2px;
}
.date span{
	font-weight: bold;
}
.right-news{
	background-color: #E0E0E0;
	padding: 0;
}
.right-news a{
	text-decoration: none;
}
.title{
	color: #003366;
	font-weight: bold;
}
.title a{
	text-decoration: none;
}
.bxslider{
	padding: 20px;
	margin-top: 20px;
	background-color: #E0E0E0;

}
.ul-news{
	padding: 0 0 0 10px;
}
.other-hot-new li{
	list-style: none;
	padding: 0;
}
.other-hot-new li a{
	font-size: 80%;
}
/*home-content-top*/

.sidebar-title h3 a{
	text-transform: uppercase;
	color: #BD3829;
	font-weight: 600;
	border-bottom: 4px solid #BD3829;
	padding-bottom: 1px;
}

.sidebar-title{
	padding-top: 10px;
}
.sidebar-title h3{
	border-bottom: 1px solid #BD3829;
	padding-bottom: 4px;
	width: 75%;
}
.sidebar-title h3 a{
	text-decoration: none;
}
.sidebar-title1{
	text-transform: uppercase;
	color: #BD3829;
	font-weight: 600;
}
.sidebar-title2 h3 {
	border-bottom: 1px solid #BD3829;
	padding-bottom: 4px;
	width: 100%;
}
.home-right-couter{
	border: 2px solid #BD3829;
}
.title-box{
	border-top: 5px solid#BD3829;
}
.hr1{
	border: 1px dashed #F1F1F1;
}
.title-box p{
	text-align: center;

	padding: 10px;
	margin-bottom: -8%;
	
}
.text-justifi a{
	text-decoration: none;
}
.title-box p a{
	transition: border-bottom 2s;
	color: #BD3829;
	font-size: 150%;
	font-weight: bold;
}
.title-box p a:hover{
	border-bottom: 2px solid #BD3829;
	color:#BD3829 ;
}
.hr2{
	border: 0.5px solid #BD3829 ;
}
.contact ul{
	padding: 0 0 0 20;
}
.contact img{
	width: 80%;
}
.contact li{
	list-style: none;
	margin-bottom: 6px;
}
.container-box .item{
	padding: 5px;
}
.event-hightlight a{
	text-decoration: none;
}
.title-box-1 p{
	background-color:  #BD3829;
	text-align: center;
}
.title-box-1 p a{
	color: white;
}
.info-text ul li{
	list-style: none;
}
.info-text ul{
	margin-top: 5%;
	padding: 0;
}
.seen{
	float:right;
	margin-top:10%;
}
/*slide-container*/
.courses-content h4 a{
	width: fit-content;
}
.slide-top img{
	padding: 20px;
	border: 2px solid #BD3829;
	border-radius:100%;
	width: 50%;
	height: 50%;
	margin-left: 25%;
}
.slide-top p{
	text-align: center;
	color: #BD3829;
	cursor: pointer;
}
.slide-top p a{
	text-decoration: none;
}

.slide-container{
	margin-top: 5%;
	margin-bottom: 5%;
}



/*footer*/
.col-footer{
	margin-top: 2%;
}
.footer-title h3 a{
	border-bottom: 3px solid #FF6347;
	color: white;
	text-decoration: none;
}
.footer-title ul li{
	list-style: none;
}
.footer-title ul li i{
	color:white;
}
.footer-title ul li a{
	color: white;
	text-decoration: none;
}
.footer-title ul{
	padding: 0 0 0 0;
}
.footer-title ul li p{
	color: white;
}
.logo-bottom img{
	width: 110%;
}
.top-bar-1{
	background-color: #A50F35 ;
	height: 50px;
	display: none;
}
.footer-bottom p{
	color:#DEE1E6;
	text-align: center;
}







/*Tin Tức*/
.search-text a{
	font-size: 20px;
	color: #BD3829 ;
	font-weight: bold;
}
.pagination{
	margin-left: 30%;
}
.content-3{
	margin-top: 3%;
}
.footer-post li{
	list-style: none;
	padding: 10px;
}
.footer-post {
	padding: 0 0 0 0;
}
.footer-post p{
	margin-right:10px;
	color: #7FBA00;
}
.footer-post a{
	text-decoration: none;
	color: black;
	margin-bottom: 10px;
}

.footer-post a:hover{
	color: #2378C0;
}
.title-first b{
	color: #5F6368;

}
.title-first a{
	text-decoration: none;
}
.title-first b:hover{
	color: #2378C0 ;
}


/*page*/
.img2 img{
	width:100%;
}
.img2{
	margin-top: 5%;
	margin-bottom: 2%;
}
.page .em{
	text-align: center;
}
.page p{
	color: #212F59;
}
.search-1{
	display: none;
}
.connect{
	margin-top: 2%;
}
.date-time{
	margin-left: 10px;
	color: #9D998D;
}
cite{
	font-size: 20px;
}

.pagination > li > a:hover{
	background-color: #7FBA00;
}
.footer-title ul li p i{
	padding: 5px;
}
/*hover-img*/
figure {
	float: left;
	padding: 0;
	overflow: hidden;
}

/* Zoom in*/
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}